@import 'variables';

.chat {
  display: flex;
  height: 100vh;
}

.channels {
  flex-basis: 225px;
  background: rgb(56, 50, 107);
  color: #ccc;
  padding: 25px 0 0 15px;
  overflow: hidden;

  &:hover {
    overflow-y: overlay;
    overflow-x: hidden;
  }

  form h2 {
    color: #000;
  }
}

.channel-list {
  a {
    color: #ccc;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  ul > li {
    padding: 5px 20px;
  }
}

.all-channels {
  width: 50%;
  height: 60%;
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 25px;
  color: #000;
  border-radius: 5px;

  .channel-detail {
    height: 80%;
    overflow: scroll;
  }

  h3 {
    font-size: 24px;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
  }

  p {
    padding: 30px 0 25px 0;
    font-weight: bold;
  }

  a {
    display: block;
    color: #000;
    padding: 15px 0 15px 15px;
    text-decoration: none;
    border-top: 1px solid #eee;

    &:last-of-type {
      border-bottom: 1px solid #eee;
    }
  }

  li:hover {
    cursor: pointer;
    background: #eee;
  }

  span {
    display: block;
    padding-left: 15px;
    padding-top: 10px;
    color: rgb(128, 125, 125);
    font-size: 14px;
  }
}

.all-channels-hidden {
  display: none;
}

.channel-text {
  width: 80%;
  margin-top: 50px;
  padding: 5px 20px 5px 5px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  position: relative;

  h2:hover, span:hover {
    cursor: pointer;
    color: #fff;
  }
}

.channel-header {
  height: 55px;
  padding:  15px;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: relative;

  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    margin-top: 0.5%;
    padding-left: 20px;
  }
}

.header-settings {
  position: absolute;
  top: 60px;
  right: 100px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 150px;

  a {
    padding: 10px 15px;

    &:hover {
      cursor: pointer;
      background: #ccc;
    }
  }
}

.settings-dropdown {
  position: absolute;
  font-size: 24px;
  color: #aaa;
  top: 30%;
  right: 10%;

  &:hover {
    cursor: pointer;
    color: #ccc;
  }
}