@import 'variables';

.chat {
  display: flex;
  height: 100vh;
}

.channels {
  flex-basis: 225px;
  background: rgb(56, 50, 107);
  color: #ccc;
  padding: 25px 0 0 15px;
  overflow: hidden;

  &:hover {
    overflow-y: overlay;
    overflow-x: hidden;
  }

  form h2 {
    color: #000;
  }
}

.channel-list {
  a {
    color: #ccc;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  ul > li {
    padding: 5px 20px;
  }
}

.all-channels {
  width: 50%;
  height: 60%;
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 25px;
  color: #000;
  border-radius: 5px;

  input {
    font-size: 14px;
    border: 1px solid #ccc;
    width: 85%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;

    &:focus {
      border: 1px solid rgb(90, 90, 255);
      border-radius: 5px;
    }
  }

  button {
    padding: 5px 10px;
    background: #ccc;
    border: 1px solid #aaa;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background: #eee;
    }
  }

  h3 {
    font-size: 24px;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
  }

  p {
    padding: 30px 0 25px 0;
    font-weight: bold;
    border-bottom: 1px solid #eee;
  }

  a {
    display: block;
    color: #000;
    padding: 5px 0 5px 15px;
    text-decoration: none;
  }

  li:hover {
    cursor: pointer;
    background: #eee;
  }

  span {
    display: block;
    padding-left: 15px;
    padding-top: 10px;
    color: rgb(128, 125, 125);
    font-size: 14px;
  }
}

.channel-detail {
  height: 80%;
  padding-top: 0px;
  overflow: hidden;

  &:hover {
    overflow-y: overlay;
    overflow-x: hidden;
  }

  img {
    width: 25px;
    height: 25px;
  }

  li {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 25px;
    border-bottom: 1px solid #eee;
  }

  a {
    width: 100%;
  }
}

.all-channels-hidden {
  display: none;
}

.selected-users-list {
  display: flex;
  margin-top: 20px;

  li {
    display: flex;
    align-items: center;
    padding: 5px 10px;

    span {
      padding: 0;
      padding-left: 10px;
    }
  }
}

.channel-text {
  width: 80%;
  margin-top: 50px;
  padding: 5px 20px 5px 5px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  position: relative;

  h2:hover, span:hover {
    cursor: pointer;
    color: #fff;
  }
}

.channel-header {
  height: 55px;
  padding:  15px;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: relative;

  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    display: inline-block;
    font-size: 14px;
    margin-top: 0.5%;
    padding: 5px 25px;

    &:hover {
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  input {
    margin-top: 0.5%;
    margin-left: 20px;
    border: 1px solid rgb(90, 90, 255);
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
  }
}

.header-settings {
  position: absolute;
  top: 60px;
  right: 100px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 150px;

  a {
    padding: 10px 15px;

    &:hover {
      cursor: pointer;
      background: #ccc;
    }
  }
}

.settings-dropdown {
  position: absolute;
  font-size: 24px;
  color: #aaa;
  top: 30%;
  right: 10%;

  &:hover {
    cursor: pointer;
    color: #ccc;
  }
}

.user-profile {
  display: flex;
  align-items: center;
  padding-left: 15px;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &:hover .dropdown {
    display: block;
  }

  .img-container {
    background: #fff;
    border-radius: 5px;
    width: 36px;
    height: 36px;
  }

  img {
    width: 36px;
    height: 36px;
    border-radius: 5px;
  }

  h2 {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ccc;
  }

  .dropdown {
    position: absolute;
    top: 35px;
    left: 40px;
    display: none;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 2;

    &:hover {
      display: block;
    }

    li {
      padding: 10px 30px;
      
      &:hover {
        background: #eee;
      }
    }
  }
}