.home {
  height: 100vh;
  background: url('main.jpg');
  background-size: cover;
  background-position: bottom center;
  color: #fff;

  h2 {
    font-size: 36px;
  }

  a, button {
    background: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      color: #ccc;
      border-bottom: 1px solid #ccc;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;

  .nav-list {
    display: flex;

    li {
      padding: 5px 10px;
    }
  }
}

.logo a {
  font-size: 36px;
  font-weight: bold;
  color: rgb(59, 193, 255);
  text-decoration: none;
  border: none;

  &:hover {
    color: rgb(59, 193, 255);
    border: none;
  }
}

.main-text {
  width: 390px;
  line-height: 2;
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 18px;

  .guest-login {
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;

    &:hover {
      cursor: pointer;
      color: #ccc;
      border-bottom: 2px solid #ccc;
    }
  }

  .inline-logo {
    color: rgb(59, 193, 255);
  }

  button {
    margin-top: 25px;
    background: none;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      color: #ccc;
      border: 1px solid #ccc;
    }
  }
}

.footer-link {
  position: absolute;
  bottom: 40px;
  right: 40px;

  a {
    border-bottom: none;
    
    &:hover {
      border: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .home a {
    font-size: 16px;
  }

  .logo a {
    font-size: 28px;
  }
  
  .main-text {
    position: static;
    text-align: center;
    margin: 50px auto;

    button {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    
    .nav-list {
      flex-direction: column;
      margin-top: 20px;
      text-align: center;
      
      a {
        border: none;
      }
    }
  }

  .main-text {
    width: 100%;
    margin: 0;
    line-height: 1.8;
  }

  .footer-link {
    margin-top: 50px;
  }
}